<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- interpolation -->
  <h1>{{title}}</h1>

  <!-- property binding -->
  <img [src]="imageurl" alt="logo" height="200px" width="200px">
  <br>

  <!-- event binding -->
  <button (click)="showMessage()">Click Me</button>
  <br>

  <!-- two way data binding -->
  <input [(ngModel)]="name" placeholder="Enter name">
  <p>Hello, {{name}}</p>

  <!-- *ngIf -->
  <p *ngIf="message">Hello,Angular.....</p>

  <!-- *ngFor -->
   <p *ngFor="let fruit of fruits">{{fruit}}</p>

   <!-- *ngSwitch -->
    <div [ngSwitch]="day">
      <p *ngSwitchCase="'Monday'">Start of the week</p>
      <p *ngSwitchCase="'Friday'">Weekend is near</p>
      <p *ngSwitchDefault>Just another day</p>
    </div>

    <!-- attribute directives -->
     <!-- ngClass -->
     <p [ngClass]="{'highlight':isHighlighted}">
      This text may be highlighted
     </p>

     <!-- ngStyle -->
      <p [ngStyle]="{'color':textColor}">
        This text is styled dynamically
      </p>
  <!-- <app-child></app-child> -->
</body>
</html>